.rangeInput {
  margin: 0 30px;
  width: 100px;
  height: 30px;
  background-color: black;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
}
::placeholder {
  color: white;
}
.rangeBlock {
  margin-left: 40px;
  width: 300px;
  display: flex;
  justify-content: space-between;
}
