.moviesContainer {
  margin: 40px;
  display: flex;
  flex-direction: column;
}
.btnDescr {
  color: white;
}
.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 20.8px;
  margin-left: 40px;
}
