.moviesContainer {
  margin: 40px;
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 819px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
}
.btnDescr {
  color: white;
}
.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 20.8px;
  margin-left: 40px;
}
